body {
    font-family: sans-serif;
}

/*  class css */
/*
Le jumbotron affiche un bloc en haut d'une page web, avec pour objectif d'attirer l'attention de l'utilisateur sur un élément particulier.

Le jumbotron est un composant de Bootstrap.
*/

.jumbotron {
 margin-bottom: 0px;
 height: 300px;
 /*color: white;*/ /* Le texte sera affiché en blanc */
 /*text-shadow: black 0.3em 0.3em 0.3em;*/
 /*background:transparent;*/
}

.jumbotron label {
    font-size:12px;
}

